<form action="/restaurants" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="english name" name="name_en">
  <input type="text" placeholder="category" name="category">
  <input type="text" placeholder="image URL: https://..." name="image">
  <input type="text" placeholder="location" name="location">
  <input type="text" placeholder="phone: 0X XXXX XXXX" name="phone">
  <input type="text" placeholder="google map URL: https://..." name="google_map">
  <input type="text" placeholder="rating" name="rating">
  <input type="text" placeholder="description" name="description">
  <button type="submit">Create</button>
</form>